{% extends 'base.html.twig' %}


{% block body %}
<section class="cl-page-title">
  <h2>{{ 'navigation.products'|trans }}</h2>
</section>

<section class="cl-page">
  <div class="cl-products">
    {% for category in types %}
      <product-card 
        title="{{ category.title }}" 
        path="{{ path('product_type', {id: category.id}) }}" 
        picture="{{ asset('images/') }}{{ category.image }}"
      ></product-card>
    {% endfor %}
  </div>
</section>
{% endblock %}
