<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Casalit - É Casalit? Tá em casa!{% endblock %}</title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app/style') }}
    {% endblock %}
  </head>

  <body>
    <div id="casalit">
      <div id="app-legacy">
        {# Header #}
        <header class="cs-component-header">
          <div class="cs-header-i18n-bar"></div>

          <div class="cs-header-navigation-wrapper">
            <div class="cs-header-brand-area">
              <svg xmlns="http://www.w3.org/2000/svg" width="142.857" height="40" viewBox="0 0 142.857 40">
                <path d="M61.512,36.547c.3.79.6,1.624.9,2.347,4.088,1.1,8.047,1.69,12.135.26a7.1,7.1,0,0,0,4.932-4.744c-.714-3.9-3.375-6.3-6.425-8.188-1.687,1.69-3.18,3.184-4.737,4.679.519.715,1.1,1.495,1.687,2.274-2.466,3.639-5.516.975-8.307.845-.065.91-.13,1.69-.195,2.4l-.065-.065a2.656,2.656,0,0,1-2.4,2.924,21.564,21.564,0,0,1-5.386.26,5.505,5.505,0,0,1-4.867-5.264c-.389-5.134-.13-10.267-.195-15.141.519-.39.714-.585.909-.585,6.749-.78,6.23.78,6.165,5.393-.065,3.639,0,7.278,0,10.657C57.336,36.858,59.516,36.306,61.512,36.547ZM9.654,23.948H1.412c-.909-3.314-.195-6.5.973-9.682C6.863,2.569,21.01-.16,30.42,5.3a10.824,10.824,0,0,1,4.348,4.679c2.142,4.419-.065,8.123-5,8.383-3.18.13-5.776-.91-7.268-3.769-.649-1.3-.649-2.859-1.038-4.549a6.075,6.075,0,0,0-5.321.78,12.688,12.688,0,0,0-6.49,10.917ZM119.846,39.414c-3.439.065-6.23-.195-8.631-1.755a7.791,7.791,0,0,1-3.634-7.148c.065-7.213,0-14.491,0-21.7V6.143c-1.038-1.819-2.791-1.3-4.413-1.884-.065-.975-.13-2.014-.195-3.054C105.634-.42,108.23-.225,110.89.75c2.6.91,3.245,1.884,3.245,4.874,0,7.473,0,14.946-.065,22.354v3.249c.065,2.924.714,3.769,3.634,4.354.519.13,1.038.195,1.882.325C119.651,37.01,119.716,37.984,119.846,39.414ZM143.857,35.9v3.184c-4.024,1.3-8.826-.26-10.773-3.639a7.5,7.5,0,0,1-.909-3.379c-.13-2.924-.065-5.848-.065-8.773V19.984c-1.428-.26-2.531-.455-3.7-.585-1.233-1.235-.844-2.534-.454-3.964,1.168-.195,2.206-.455,3.569-.715,0-1.17.065-2.4.065-3.7.065-2.534.779-3.249,3.31-3.249a20.445,20.445,0,0,1,3.05.455c.065,2.4.195,4.614.26,6.953,1.3.195,2.336.325,3.375.52,1.1,1.1,1.1,2.209.195,3.639-1.038.195-2.142.325-3.569.585-.065,1.3-.13,2.6-.13,3.834v7.473c0,3.119.779,3.964,3.764,4.484C142.494,35.775,143.014,35.84,143.857,35.9Zm-111.166-.26c.519,1.755-.195,2.4-1.168,2.729a13.176,13.176,0,0,1-3.7,1.04C20.816,40,14,39.414,8.1,35a16.283,16.283,0,0,1-6.425-9.227c2.79-.78,5.386-.26,8.242-.325C14.651,35.06,23.152,36.555,32.692,35.645Zm14.926-16.83a4.685,4.685,0,0,1,.195,1.495,5.12,5.12,0,0,1-.26,1.3c-.909.39-1.817.715-2.726,1.1-3.7,1.884-5.386,5.978-3.894,9.487A6.858,6.858,0,0,0,46,36.36c1.622.39,2.142,1.235,1.687,2.794-4.932,1.495-11.227-.91-13.693-5.264a8.969,8.969,0,0,1,1.3-10.527C38.532,19.854,42.621,18.62,47.618,18.815Zm46.27.065v2.794c-3.894,1.3-7.138,3.314-7.009,7.993.065,4.354,3.245,5.978,6.944,7.278v2.274a1.623,1.623,0,0,1-.714.325c-4.348.195-8.307-.715-11.486-4.029a8.989,8.989,0,0,1-.195-11.762C84.543,20.179,88.177,18.685,93.888,18.88ZM107.97,36.555c-.519.975-.714,1.819-1.168,2.144-2.336,1.755-7.528,1.3-9.669-.715a5.261,5.261,0,0,1-1.882-3.964c0-4.939,0-9.942.065-14.881,0-.195.195-.39.26-.52.065-.065.13-.195.26-.195,6.944-.455,5.97,0,6.035,5.393v8.123c0,3.249.779,4.094,4.153,4.484A8.109,8.109,0,0,1,107.97,36.555Zm11.811-17.87h6.425c.195,5.783-.065,11.372.13,16.57,1.493,1.819,3.31,1.69,4.867,1.884.584,1.365.195,2.209-.973,2.4A11.25,11.25,0,0,1,121.4,37.4a4.984,4.984,0,0,1-1.557-3.314C119.716,28.952,119.781,23.883,119.781,18.685ZM66.762,30.511A14.558,14.558,0,0,1,61.31,25.7c-1.882-3.054-1.1-5.848,2.077-7.473a11.983,11.983,0,0,1,3.375-1.04,20.688,20.688,0,0,1,10.838.975v4.484c-5.646-1.365-5.646-1.365-7.852.975.584.65,1.168,1.365,1.752,2.079C70.006,27.262,68.449,28.822,66.762,30.511Zm59.574-16.96a3.39,3.39,0,0,1-3.115,3.379,3.006,3.006,0,0,1-3.375-2.989,3.619,3.619,0,0,1,3.05-3.509A3.665,3.665,0,0,1,126.335,13.551Z" transform="translate(-1)" fill="#ff2020"/>
              </svg>

              <span class="cs-header-brand-slogan">É Casalit? Tá em casa!</span>
            </div>

            <nav class="cs-header-navigation-area">
              {# Home #}
              <a href="{{ path('home') }}" class="cs-header-nav-link {% if app.request.get('_route') == 'home' %}router-link-exact-active{% endif %}">
                <div class="cs-header-nav-link-contents">
                  <svg class="cs-header-nav-route-symbol" xmlns="http://www.w3.org/2000/svg" width="20.839" height="18" viewBox="0 0 20.839 18">
                    <g transform="translate(-0.66 -1.32)"><path d="M11.08,1.32.66,10.991l.965,1.043.937-.871V19.32h7.1v-7.1H12.5v7.1h7.1V11.163l.937.871.965-1.043Zm0,1.93,7.1,6.6V17.9H13.919V10.8H8.241v7.1H3.982V9.849Z"/></g>
                  </svg>

                  <span class="cs-header-nav-route-title">{{ 'navigation.home'|trans }}</span>
                </div>
              </a>

              {# App #}
              <a href="{{ path('company') }}" class="cs-header-nav-link {% if app.request.get('_route') == 'company' %}router-link-exact-active{% endif %}">
                <div class="cs-header-nav-link-contents">
                  <svg class="cs-header-nav-route-symbol stroke" xmlns="http://www.w3.org/2000/svg" width="28.595" height="19.003" viewBox="0 0 28.595 19.003">
                    <path d="M27.378,6.256,22.718,4.5,16.449,2.135c-.752-.284-1.5-.571-2.258-.848a1.8,1.8,0,0,0-.386-.064c-.309-.042-.617-.082-.925-.122l-.8-.1-.918-.12-.79-.1L9.451.651l-.8-.1L7.742.427l-.8-.1L6.133.217l-.79-.1L4.56.012A.111.111,0,0,1,4.531,0H4.492a.63.63,0,0,0-.053.069L.849,6.4.024,7.852A.344.344,0,0,1,0,7.886V7.9a.072.072,0,0,0,.07.042H2.042v8.051l10.71,2,.025,0,12.834-.819V6.233l.2.015.8.067.928.074A.337.337,0,0,1,27.6,6.4v-.07C27.523,6.3,27.45,6.283,27.378,6.256ZM12.587,17.547l-10.135-1.9V7.633L2.534,7.5,5.206,3.216Q5.836,2.207,6.465,1.2c.024-.039.042-.041.074-.024q3.023,1.646,6.046,3.286Zm.685-12.717c.277.151.553.309.833.448a.736.736,0,0,0,.273.05c.392.034.784.065,1.176.1l.962.075,1.132.093q.391.032.783.058l1.132.092c.254.021.509.04.763.058l1.156.094.753.058L23.4,6.05l.768.058,1.152.094h-.117V16.8L13,17.576V4.682Z" transform="translate(0.5 0.5)"/>
                  </svg>

                  <span class="cs-header-nav-route-title">{{ 'navigation.company'|trans }}</span>
                </div>
              </a>

              <a href="{{ path('app_products') }}" class="cs-header-nav-link {% if app.request.get('_route') == 'app_products' or app.request.get('_route') == 'app_products_search' %}router-link-exact-active{% endif %}">
                <div class="cs-header-nav-link-contents">
                  <svg class="cs-header-nav-route-symbol" xmlns="http://www.w3.org/2000/svg" width="26.27" height="18" viewBox="0 0 26.27 18">
                    <path d="M13.093,3.038a.821.821,0,0,0-.516.218L.263,14.687a.821.821,0,0,0,.558,1.424H3.284v4.925H4.926V16.111H21.344v4.925h1.642V16.111h2.463a.821.821,0,0,0,.558-1.424l-4.662-4.329V4.618H19.7V8.835l-6.009-5.58a.821.821,0,0,0-.6-.218Zm.042,1.94,10.223,9.492H2.912Z" transform="translate(0 -3.036)"/>
                  </svg>

                  <span class="cs-header-nav-route-title">{{ 'navigation.products'|trans }}</span>
                </div>
              </a>

              <a href="{{ path('contact') }}" class="cs-header-nav-link {% if app.request.get('_route') == 'contact' %}router-link-exact-active{% endif %}">
                <div class="cs-header-nav-link-contents">
                  <svg class="cs-header-nav-route-symbol" xmlns="http://www.w3.org/2000/svg" width="19.385" height="18" viewBox="0 0 19.385 18">
                    <g transform="translate(-1 -2)"><path d="M4.965,2A3.991,3.991,0,0,0,1,6V17.231h9.692V20h1.385V17.231h8.308V6A3.988,3.988,0,0,0,16.42,2Zm0,1.385h.379A2.583,2.583,0,0,1,7.923,6v9.849H2.385V5.992A2.589,2.589,0,0,1,4.965,3.385Zm3.348,0H16.42A2.587,2.587,0,0,1,19,6v9.849H9.308V6A3.974,3.974,0,0,0,8.313,3.385Zm2.38,2.769V7.538h5.538V8.923h1.385V6.154ZM3.769,7.538V8.923H6.538V7.538Z"/></g>
                  </svg>

                  <span class="cs-header-nav-route-title">{{ 'navigation.contact'|trans }}</span>
                </div>
              </a>

              {# <router-link class="cs-header-nav-link" :to="{name: 'Locations'}">
                <div class="cs-header-nav-link-contents">
                  <svg class="cs-header-nav-route-symbol" xmlns="http://www.w3.org/2000/svg" width="13.05" height="18" viewBox="0 0 13.05 18">
                    <path d="M9.525,1A6.538,6.538,0,0,0,3,7.525a7.864,7.864,0,0,0,.984,3.283A30.394,30.394,0,0,0,6.048,14.32c1.489,2.238,2.972,4.058,2.972,4.058l.5.622.5-.622s1.483-1.82,2.977-4.058a31.1,31.1,0,0,0,2.059-3.512,7.864,7.864,0,0,0,.984-3.283A6.538,6.538,0,0,0,9.525,1Zm0,1.305a5.211,5.211,0,0,1,5.22,5.22,7.282,7.282,0,0,1-.851,2.712A31.184,31.184,0,0,1,11.921,13.6c-1.2,1.794-2.014,2.783-2.4,3.263-.382-.479-1.2-1.468-2.4-3.263a31.184,31.184,0,0,1-1.973-3.364,7.282,7.282,0,0,1-.851-2.712A5.211,5.211,0,0,1,9.525,2.305Zm0,3.915A1.305,1.305,0,1,0,10.83,7.525,1.308,1.308,0,0,0,9.525,6.22Z" transform="translate(-3 -1)" />
                  </svg>

                  <span class="cs-header-nav-route-title">Onde encontrar</span>
                </div>
              </router-link>

              <router-link class="cs-header-nav-link" :to="{name: 'Stores'}">
                <div class="cs-header-nav-link-contents">
                  <svg class="cs-header-nav-route-symbol" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M4.462,1A2.087,2.087,0,0,0,2.385,3.077V4.132L1,7.077v.154A2.081,2.081,0,0,0,2.385,9.178v7.745A2.087,2.087,0,0,0,4.462,19H15.538a2.087,2.087,0,0,0,2.077-2.077V9.178A2.081,2.081,0,0,0,19,7.231V7.077L17.615,4.132V3.077A2.087,2.087,0,0,0,15.538,1Zm0,1.385h.692V3.769H3.769V3.077A.683.683,0,0,1,4.462,2.385Zm2.077,0H7.923V3.769H6.538Zm2.769,0h6.231a.683.683,0,0,1,.692.692v.692H9.308ZM3.437,5.154H16.563l1,2.128a.668.668,0,0,1-.641.641.683.683,0,0,1-.692-.692V6.538H14.846v.692a.692.692,0,0,1-1.385,0V6.538H12.077v.692a.692.692,0,0,1-1.385,0V6.538H9.308v.692a.692.692,0,0,1-1.385,0V6.538H6.538v.692a.692.692,0,0,1-1.385,0V6.538H3.769v.692a.683.683,0,0,1-.692.692.668.668,0,0,1-.641-.641Zm1.025,3.61a2.035,2.035,0,0,0,2.769,0,2.035,2.035,0,0,0,2.769,0,2.035,2.035,0,0,0,2.769,0,2.035,2.035,0,0,0,2.769,0,2.075,2.075,0,0,0,.692.414v7.745a.683.683,0,0,1-.692.692H4.462a.683.683,0,0,1-.692-.692V9.181A2.116,2.116,0,0,0,4.462,8.764Z" transform="translate(-1 -1)" />
                  </svg>

                  <span class="cs-header-nav-route-title">Revendas</span>
                </div>
              </router-link> #}
            </nav>

            <div class="cs-header-search-area">
              <form action="/products/search" method="post">
                <input style="background-image: url('{{ asset('build/images/search@2x.png') }}');" type="search" name="search" placeholder="Pesquisar" autocomplete="search" value="{% if var is defined and term is not null %}{{ term }}{% endif %}" />
              </form>
            </div>
          </div>
        </header>

        {# Body #}
        <div class="cs-view-contents {% block page_style %}{% endblock %}">
          {% block body %}{% endblock %}
        </div>

        {# Footer #}
        <footer class="cs-component-footer">
          <div class="cs-footer-navigation-wrapper">
            <div class="cs-footer-left-area">
              <div class="cs-footer-brand-area">
                <svg width="114px" height="32px" viewBox="0 0 114 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-64.000000, -761.000000)" fill="#FF2020" fill-rule="nonzero">
                            <g transform="translate(0.000000, 724.000000)">
                                <g transform="translate(64.000000, 32.000000)">
                                    <path d="M48.2678538,34.2379779 C48.5076078,34.8703137 48.7473618,35.5373989 48.9871158,36.1152679 C52.248262,36.9990209 55.4058798,37.4668901 58.6670261,36.3232097 C60.5823024,35.6473986 61.9799365,34.5557037 62.6011072,32.5282703 C62.0317008,29.4091419 59.9093675,27.4856794 57.4764489,25.9781007 C56.130579,27.329723 54.9400018,28.5253889 53.6976604,29.7210548 C54.1117742,30.292895 54.5776522,30.9167206 55.0435302,31.5405463 C53.0764896,34.4517327 50.643571,32.3203284 48.4177093,32.2163574 C48.3659451,32.944154 48.3141808,33.5679797 48.2624166,34.1398199 L48.2106524,34.0878344 C48.2106524,35.3874712 47.5377175,36.2712243 46.295376,36.4271807 C44.8459777,36.5831371 43.3965794,36.8430645 41.9989453,36.6351226 C39.7730835,36.2192388 38.271921,34.7636456 38.1166283,32.4242993 C37.806043,28.317447 38.0130999,24.2105947 37.9613356,20.3116843 C38.3754494,19.9997714 38.5307421,19.843815 38.6860348,19.843815 C44.0695143,19.2199893 43.6554005,20.4676407 43.6036363,24.1586092 C43.551872,27.0697957 43.6036363,29.9809821 43.6036363,32.6842267 C44.9365664,34.4862249 46.6756857,34.0446341 48.2678538,34.2379779 Z M6.90279999,24.1586092 C4.57340981,24.1586092 2.55460499,24.1586092 0.328743273,24.1586092 C-0.395955892,21.5073501 0.173450595,18.960062 1.10520666,16.4127738 C4.67693826,7.05538881 15.9615395,4.87199897 23.4673523,9.23877865 C24.9685149,10.1225317 26.1590921,11.370183 26.9355555,12.9817327 C28.6437749,16.5167448 26.8837913,19.4799167 22.9497101,19.6878586 C20.413263,19.7918295 18.3426939,18.960062 17.1521167,16.6727012 C16.6344745,15.6329917 16.6344745,14.3853404 16.3238891,13.0337181 C14.926255,12.5138634 13.4768567,12.8257762 12.0792226,13.6575438 C8.81807635,15.6329917 7.05809266,18.5441782 6.90279999,22.3911032 C6.90279999,22.8069869 6.90279999,23.3268417 6.90279999,24.1586092 Z M94.7984559,36.5311516 C92.0549519,36.5831371 89.8290902,36.3751952 87.9138138,35.1275439 C85.895009,33.8279071 84.9632529,31.8524591 85.0150171,29.4091419 C85.0667814,23.6387545 85.0150171,17.8163816 85.0150171,12.0459942 C85.0150171,11.2662121 85.0150171,10.48643 85.0150171,9.91458979 C84.1867895,8.45899656 82.7891554,8.87488034 81.4950498,8.40701109 C81.4432855,7.627229 81.3915213,6.79546145 81.3397571,5.96369389 C83.4620904,4.66405708 85.5326594,4.8200135 87.6549927,5.59979558 C89.7255617,6.3275922 90.243204,7.10737428 90.243204,9.49870601 C90.243204,15.4770353 90.243204,21.4553647 90.1914397,27.3817085 C90.1914397,28.2654615 90.1914397,29.0972291 90.1914397,29.9809821 C90.243204,32.3203284 90.7608462,32.9961395 93.0902364,33.4640088 C93.5043502,33.5679797 93.918464,33.6199652 94.591399,33.7239361 C94.6431632,34.6076892 94.6949274,35.3874712 94.7984559,36.5311516 Z M113.95122,33.7239361 C113.95122,34.7636456 113.95122,35.5434277 113.95122,36.2712243 C110.741837,37.3109337 106.911285,36.0632824 105.358358,33.3600378 C104.89248,32.5802557 104.685423,31.5925318 104.633659,30.6567933 C104.53013,28.317447 104.581895,25.9781007 104.581895,23.6387545 C104.581895,22.8069869 104.581895,21.9232339 104.581895,20.9874954 C103.443082,20.7795535 102.56309,20.6235971 101.631334,20.5196261 C100.647813,19.5319022 100.958399,18.4921927 101.268984,17.3485123 C102.20074,17.1925559 103.028968,16.984614 104.116017,16.7766721 C104.116017,15.8409336 104.167781,14.8532097 104.167781,13.8135002 C104.219545,11.7860668 104.788951,11.2142266 106.807756,11.2142266 C107.532455,11.2142266 108.308919,11.4221685 109.240675,11.5781249 C109.292439,13.5015874 109.395968,15.2690934 109.447732,17.1405704 C110.483016,17.2965269 111.311244,17.4004978 112.139472,17.5564542 C113.019463,18.4402073 113.019463,19.3239603 112.294764,20.4676407 C111.466537,20.6235971 110.586545,20.727568 109.447732,20.9355099 C109.395968,21.9752194 109.344203,23.0149288 109.344203,24.0026528 C109.344203,25.9781007 109.344203,27.9535487 109.344203,29.9809821 C109.344203,32.4762848 109.965374,33.1520959 112.346529,33.5679797 C112.864171,33.6199652 113.278285,33.6719507 113.95122,33.7239361 Z M25.2791002,33.5159942 C25.6932141,34.919602 25.1238076,35.4394567 24.3473442,35.6993841 C23.3638239,36.0632824 22.3803036,36.4791662 21.3967833,36.5311516 C15.8062469,36.9990209 10.3710031,36.5311516 5.66045856,32.9961395 C3.17577571,31.1246625 1.36402779,28.8373017 0.535800178,25.6142024 C2.7616619,24.9903768 4.83223094,25.4062605 7.10985689,25.3542751 C10.8886454,33.048125 17.669759,34.2437909 25.2791002,33.5159942 Z M37.1848722,20.0517569 C37.2884007,20.5716116 37.3919291,20.9355099 37.3401649,21.2474228 C37.3401649,21.5593356 37.2366365,21.9232339 37.133108,22.2871322 C36.4084088,22.599045 35.6837097,22.8589724 34.9590105,23.1708852 C32.0084496,24.6784639 30.6625798,27.9535487 31.853157,30.7607642 C32.6296203,32.5802557 34.0272544,33.6719507 35.8907666,34.0878344 C37.1848722,34.3997473 37.598986,35.0755584 37.2366365,36.3232097 C33.3025553,37.5188756 28.2814254,35.5954131 26.3143848,32.1123865 C24.8132222,29.4091419 25.1755718,26.0300862 27.3496693,23.69074 C29.9378806,20.8835245 33.1990268,19.8958005 37.1848722,20.0517569 Z M74.0927654,20.1037424 C74.0927654,20.9355099 74.0927654,21.6113211 74.0927654,22.3391177 C70.9869119,23.3788271 68.3987006,24.9903768 68.502229,28.7333308 C68.5539932,32.2163574 71.0904403,33.5159942 74.0410012,34.5557037 C74.0410012,35.1795294 74.0410012,35.803355 74.0410012,36.3751952 C73.7821801,36.5311516 73.6268874,36.6351226 73.4715947,36.6351226 C70.0033916,36.791079 66.8457738,36.0632824 64.3093267,33.4120233 C61.9799365,30.9167206 61.8246439,26.6539119 64.154034,24.0026528 C66.6387169,21.1434518 69.5375135,19.947786 74.0927654,20.1037424 Z M85.3256025,34.2437909 C84.9114887,35.0235729 84.756196,35.6993841 84.3938464,35.9593114 C82.5303343,37.3629192 78.3891962,36.9990209 76.6809767,35.3874712 C75.7492207,34.5557037 75.1798142,33.4640088 75.1798142,32.2163574 C75.1798142,28.2654615 75.1798142,24.2625802 75.2315784,20.3116843 C75.2315784,20.1557278 75.3868711,19.9997714 75.4386353,19.8958005 C75.4903995,19.843815 75.5421638,19.7398441 75.6456922,19.7398441 C81.1844644,19.3759458 80.408001,19.7398441 80.4597652,24.0546383 C80.4597652,26.1860426 80.4597652,28.3694325 80.4597652,30.5528223 C80.4597652,33.1520959 81.080936,33.8279071 83.7726757,34.1398199 C84.0832611,34.0878344 84.3938464,34.1398199 85.3256025,34.2437909 Z M94.7466916,19.947786 C96.6102038,19.947786 98.1113663,19.947786 99.87135,19.947786 C100.026643,24.574493 99.8195858,29.0452436 99.9748785,33.2040814 C101.165456,34.6596746 102.614854,34.5557037 103.857195,34.7116601 C104.323073,35.803355 104.012488,36.4791662 103.080732,36.6351226 C100.544285,36.9990209 98.0596021,36.5311516 96.0407973,34.919602 C95.3678624,34.3477618 94.7984559,33.1520959 94.7984559,32.2683429 C94.6949274,28.1614906 94.7466916,24.1066237 94.7466916,19.947786 Z M52.4553189,29.4091419 C50.643571,28.3694325 49.1424085,27.2257521 48.1071239,25.562217 C46.6059614,23.1188998 47.2271321,20.8835245 49.7635792,19.5838876 C50.5918068,19.1680039 51.5235629,18.9080765 52.4553189,18.7521201 C55.3541156,18.1802799 58.201148,18.5441782 61.0999447,19.5319022 C61.0999447,20.7795535 61.0999447,21.9232339 61.0999447,23.1188998 C56.596457,22.0272048 56.596457,22.0272048 54.8364733,23.8986819 C55.3023514,24.4185366 55.7682294,24.9903768 56.2341074,25.562217 C55.0435302,26.8098683 53.8011888,28.0575196 52.4553189,29.4091419 Z M99.9748785,15.8409336 C100.026643,17.1925559 98.8878297,18.4402073 97.4901956,18.5441782 C95.9890331,18.6481491 94.8502201,17.6604252 94.7984559,16.1528465 C94.7466916,14.8532097 95.9372688,13.4496019 97.2313745,13.345631 C98.4219517,13.24166 99.9231142,14.5932823 99.9748785,15.8409336 Z" id="Brand"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>

                <span class="cs-footer-brand-rights">Casalit Indústria e Comércio de Materiais de Construção Ltda. . Todos os direitos reservados.</span>
              </div>

              <nav class="cs-footer-navigation-area">
                {# Home #}
                <a href="{{ path('home') }}" class="cs-footer-nav-link {% if app.request.get('_route') == 'home' %}router-link-exact-active{% endif %}">{{ 'navigation.home'|trans }}</a>

                {# App #}
                <a href="{{ path('company') }}" class="cs-footer-nav-link {% if app.request.get('_route') == 'company' %}router-link-exact-active{% endif %}">{{ 'navigation.company'|trans }}</a>

                <a href="{{ path('app_products') }}" class="cs-footer-nav-link {% if app.request.get('_route') == 'app_products' or app.request.get('_route') == 'app_products_search' %}router-link-exact-active{% endif %}">{{ 'navigation.products'|trans }}</a>

                <a href="{{ path('contact') }}" class="cs-footer-nav-link {% if app.request.get('_route') == 'contact' %}router-link-exact-active{% endif %}">{{ 'navigation.contact'|trans }}</a>
              </nav>
            </div>

            <div class="cs-footer-right-area">
              <div class="cs-footer-address-area">
                <p>Av. Mascarenhas de Morais, 521, Chácara Rio Petrópolis</p>
                <p>Duque de Caxias - RJ, CEP 25230-030</p>
                <p>Telefone: (21) 2677-5000 | Fax: (21) 2677-5011</p>
                <p>E-mail: vendas@casalit.com.br</p>
              </div>
            </div>
          </div>
        </footer>
        {# End #}
      </div>
    </div>

    {% block js %}{% endblock %}

    {{ encore_entry_script_tags('legacy') }}
  </body>
</html>